/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:center;
	align-items:center;
}
.text{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	text-align:center;
}
p{
	font-size:12px
}
button{
	background-color:red;
	color:white;
	border-radius:5px;
	border:solid red 1px;
	padding:10px;
}
button p{
	margin:0;
}
img{
	width:70%;
	object-fit:cover;
	height:100%;
	
}